<template>
  <div class="i-curtain d-flex flex-column justify-content-between flex-1">
    <div class="i-curtain__content d-flex flex-column align-items-center">
      <slot />
    </div>
    <div class="i-curtain__bottom">
      <slot name="bottom"></slot>
    </div>
    <img src="~assets/images/circles-orange.svg" class="circles circles--bottomBack" />
  </div>
</template>

<style lang="scss">
  .i-curtain {
    position: relative;
    padding-bottom: rs(20px);
    margin-top: rs(77px);
    border-top-left-radius: rs(20px);
    border-top-right-radius: rs(20px);
    background-color: #fff;
    min-height: 100%;
  }

  .i-curtain__content {
    position: relative;
    z-index: 1;
  }

  .i-curtain__bottom {
    position: relative;
    z-index: 1;
    padding: rs(30px) rs(30px) rs(30px);
  }
</style>
