<template>
  <div class="i-input">
    <input type="text" :placeholder="placeholder" class="i-input__input" />
  </div>
</template>

<script>
  export default {
    props: {
      placeholder: {
        type: String,
        default: '',
      },
    },
  };
</script>

<style lang="scss">
  .i-input {
    width: 100%;
    height: rs(58px);
  }

  .i-input__input {
    width: 100%;
    border: 0;
    border-radius: rs(58px);
    background-color: #f5f5f5;
    padding: rs(19px) rs(24px) rs(18px);
    font-size: rf(18px);
    font-weight: bold;
    color: rgba(#575167, 0.8);

    @include placeholder {
      color: rgba(#575167, 0.4);
    }

    &:focus {
      outline: none;
    }
  }
</style>
