.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center;
}

.px-1 {
  padding-left: rs(15px);
  padding-right: rs(15px);
}

.mb-1 {
  margin-bottom: rs(15px);
}
