<template>
  <i-wrapper top>
    <!-- <nuxt-link to="step-3" class="next">step 4 &gt;</nuxt-link> -->
    <i-stepper :total="8" :filled="1" />
    <i-curtain>
      <img src="~assets/images/bubbles-orange.svg" class="bubbles bubbles--custom" />
      <img src="~assets/images/scientist-hand.png" class="scientist-hand" />
      <div class="title px-1 text-center">For starters, let's get to know each other.</div>
      <template #bottom>
        <i-input class="mb-1" placeholder="Type your Name" />
        <i-button>CONTINUE</i-button>
      </template>
    </i-curtain>
  </i-wrapper>
</template>

<script>
  export default {
    layout: 'default',
  };
</script>

<style lang="scss">
  .figures-colored {
    position: absolute;
    z-index: 0;
    top: rs(30px);
    right: rs(7px);
    width: rw(360px);
  }

  .scientist-hand {
    width: rw(106px);
    margin-top: rs(30px);
  }

  .title {
    font-weight: bold;
    font-size: rf(20px);
    margin-top: rs(15px);
  }

  .normal-text {
    font-size: rf(16px);
    margin-top: rs(15px);
  }

  .shield-success {
    width: rw(46.8px);
    margin-top: rs(15px);
  }

  .bubbles--custom {
    top: rs(147px);
  }
</style>
